<p>home works!</p>
<app-menu></app-menu>

<section class="banner text-center text-white fw-bold">
    <h3>empresa de envios</h3>
    <h4>TCC</h4>
</section>

<section>
    <div class="container my-5">
       <div class="row row-cols-1 row-cols-md-2 g3">
        <div class="col" *ngFor="let bodega of bodega">
        <div class="card h-100 shadow p-4">
        <h1>Nombre:{{bodega.nombre}}</h1>
        <h3>Correo:{{bodega.correo}}</h3>
        <h3><Telefono:>{{bodega.telefono}}</h3>
 

        </div>
</div>
       </div>

    </div>
</section>